.discord {
  @include d-flex-space-between;
  cursor: pointer;
  gap: 0.938rem;
  img {
    height: 50%;
    width: 50%;
  }
  @include mobile {
    img {
      height: 45%;
      width: 45%;
    }
  }
}
