.footer {
  margin: 6.25rem 0.5rem 0.625rem 0.5rem;
  .logo {
    @include d-flex-center-all;
    margin-bottom: 1.25rem;
    img {
      height: 5rem;
      width: 5rem;
    }
    @include mobile {
      img {
        height: 4rem;
        width: 4rem;
      }
    }
  }
  .social-media {
    @include d-flex-center-all;
    margin-bottom: 0.938;
    gap: 3.125rem;
    img {
      height: 3.125rem;
      width: 3.125rem;
    }
    @include mobile {
      img {
        height: 2.125rem;
        width: 2.125rem;
      }
    }
  }
  .rights {
    @include d-flex-center-all;
    text-align: center;
    color: aliceblue;
  }
}
.game-info {
  .text {
    color: aliceblue;
    text-align: justify;
  }
}
